* {
	font-family: arial, sans-serif;
}
html {
	background-image: url("../images/bats.gif");	
	background-repeat: repeat;
}
body {
	background-color: white;
	margin: auto;
	width: 800px;
	border: 3px solid black;
	/* Any number of shadows, separated by commas */
	box-shadow: 1px 3px 3px 3px black;
}
header {
	border-bottom: 2px solid black;
	background: orange;
	background: linear-gradient(45deg, white, orange, black);
	padding: 6px;
}
h1 {
	font-size: 32px;
	text-indent: 30px;
	margin:0px;
	padding-top: 5px;
}

h2 {
	font-size: 26px;
	text-indent: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 24px;
	margin: .5em;
}
article::first-letter { 
	font-size: 200%;
}
header img {
	float: left;
}
a {
	color: orange;
	font-weight: bold;
}
a:hover {
	color: green;
}
li {
	margin: 0% 5% 5% 0%;
}
main {
	padding-left: 10px;
	padding-right: 10px;
}
footer {
	border-top: 2px solid black;
	font-size: .9em;	
	text-align: center;
	background: orange;
	background: linear-gradient(45deg, black, orange, white); /* Standard syntax */
	padding: 20px;
}
footer p {
	margin-bottom:0px;
}
#sidebar {
	float: left;
	width: 160px;
	height: 500px;
	margin: 5px;
	padding: 5px;
}
#top-menu {
 /*TODO
 */
}
#top-menu li{
	display: block;
}
